.favorite{
    z-index: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    background-color: #fff;
    position: absolute;
    right: 1rem;
    top: 1rem;
    align-items: center;
    cursor: pointer;
}